# Ignore data folder
/data/

/figures/

# Ignore notebooks folder
notebooks/
/experiments/
# Ignore all Jupyter notebooks
*.ipynb

# (optional) Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# (optional) Ignore logs and checkpoints
logs/
checkpoints/


.idea
